language: objective-c
osx_image: xcode8.2

branches:
  only:
    - master
    - develop

env:
  global:
    - COCOAPODS_DISABLE_DETERMINISTIC_UUIDS=1

before_install:
- gem install xcpretty -N --no-ri --no-rdoc
- SIMULATOR_ID=$(xcrun instruments -s devices | grep -io "$SIMULATOR \[.*\]" | grep -o "\[.*\]" | sed "s/^\[\(.*\)\]$/\1/")

script:
- set -o pipefail
- open -b com.apple.iphonesimulator --args -CurrentDeviceUDID $SIMULATOR_ID
- xcodebuild clean build -workspace hackfoldr-iOS.xcworkspace -scheme hackfoldr-iOS -sdk iphonesimulator GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES | xcpretty

after_success:
- bash <(curl -s https://codecov.io/bash)
